

<% layout('layout/post-show-layout') -%>



  <h4>Show Post...</h4>

  <div> <h1><%= post.title %></h1></div>
       <div>Price      : <%= post.price %>$</div>
      <div>Description :<%= post.description %></div>
       <div>
             <% post.images.forEach(function(image){ %>
                   <img src="<%= image.url %> " alt="Surf-image" width="200px"/>
             <% }); %>
         </div>
      <div>Location    : <%= post.location %></div>
            <div>Rating    : <%= post.avgRating %></div>

            <!-- Didplay Avg. Rating Star Methodology -->
           <%   for(let i=1;i<=5;i++){
              if(i<= avgFloorRating){ %>
                     <!-- Didplay Full Star -->
                     <i class="fas fa-star"></i>
         <%     }else if(i - post.avgRating > 0 && i - post.avgRating < 1) { %>
                            <!-- Didplay Half Star -->
                         <i class="fas fa-star-half-alt"></i> 
         <%    }else { %>
                     <!-- Didplay Empty Star -->
               <i class="far fa-star"></i>
       <%      }
          }
      %>

        <div id='map'></div>

      <a href="/posts/<%= post.id %>/edit">Edit</a>
      <div>
	<form action="/posts/<%= post.id %>?_method=DELETE" method="POST">
    <input type="submit" value="Delete">
  </form>
</div>


 
<h2>Create a Review</h2>
<form action="/posts/<%= post.id %>/reviews" method="POST">
  <textarea name="review[body]" required></textarea>
<fieldset class="starability-basic">
  <legend>Rating:</legend>
  <input type="radio" id="rate0" class="input-no-rate" name="review[rating]" value="0" checked aria-label="No rating." />
  <input type="radio" id="rate1" name="review[rating]" value="1" />
  <label for="rate1" title="Terrible">1 star</label>
  <input type="radio" id="rate2" name="review[rating]" value="2" />
  <label for="rate2" title="Not good">2 stars</label>
  <input type="radio" id="rate3" name="review[rating]" value="3" />
  <label for="rate3" title="Average">3 stars</label>
  <input type="radio" id="rate4" name="review[rating]" value="4" />
  <label for="rate4" title="Very good">4 stars</label>
  <input type="radio" id="rate5" name="review[rating]" value="5" />
  <label for="rate5" title="Amazing">5 stars</label>
</fieldset>
  <input type="submit" value="submit">
</form>

<h3>Reviews</h3>
<!-- display all reviews -->
<% post.reviews.forEach(function(review) { %>
  <div>
    <p><strong><%= review.author.username %></strong>  commented :</p>
   <p> <%= review.body %></p>
    <strong><emphasis>Rating:</emphasis> <%= review.rating %></strong>
  </div>


<% if(review.author.equals(currentUser._id)){ %> 
<div>
     <button class="review-edit-button">Edit</button>
     <form class="edit-review-form" action="/posts/<%= post.id %>/reviews/<%= review.id %>?_method=PUT" method="post">
               <textarea name="review[body]" value="<%= review.body %>" required></textarea>
<fieldset class="starability-basic">
  <legend>Rating:</legend>
    <button type="button" class="clear-rating">Clear Rating</button>
  <input type="radio" id="edit-rate0" class="input-no-rate" name="review[rating]" value="0" checked aria-label="No rating." />
  <input type="radio" id="edit-rate1" name="review[rating]" value="1" />
  <label for="edit-rate1" title="Terrible">1 star</label>
  <input type="radio" id="edit-rate2" name="review[rating]" value="2" />
  <label for="edit-rate2" title="Not good">2 stars</label>
  <input type="radio" id="edit-rate3" name="review[rating]" value="3" />
  <label for="edit-rate3" title="Average">3 stars</label>
  <input type="radio" id="edit-rate4" name="review[rating]" value="4" />
  <label for="edit-rate4" title="Very good">4 stars</label>
  <input type="radio" id="edit-rate5" name="review[rating]" value="5" />
  <label for="edit-rate5" title="Amazing">5 stars</label>
</fieldset>
              <input type="submit" value="update">
     </form>

     <script type="text/javascript">
       $('#edit-rate<%= review.rating%>').prop('checked',true);
     </script>

        <form  action="/posts/<%= post.id %>/reviews/<%= review.id %>?_method=DELETE" method="post">
          
              <input type="submit" value="Delete">
     </form>
</div>
<% } %>
  <hr/>
<% }); %>








